<%= render "shared/header" %>
  <h1><%= @page.title %></h1>
  
  <img src="https://github.com/pandacms/.github/raw/main/images/panda-transparent-small.png?raw=true" alt="Panda">
  
  <%= yield %>
<%= render "shared/footer" %>
